@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #343739 !important;
  color: white !important; }

.material-icons {
  -webkit-user-select: none;
  user-select: none; }

html {
  background-color: #343739; }

body {
  background-color: #F2F2F2;
  min-width: 320px; }

main {
  position: relative;
  left: 0px;
  top: 0px;
  overflow: scroll;
  transition: left .5s ease;
  background-color: #F2F2F2;
  padding-top: 60px; }
  main section {
    min-height: 90vh; }
    main section:last-child {
      min-height: fit-content; }

ul li {
  list-style: none;
  display: inline-block; }

a {
  text-decoration: none; }

section:nth-child(even) {
  background-color: white;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1); }

.mask {
  display: inline-block;
  position: fixed;
  top: 60px;
  left: 0px;
  opacity: 0;
  z-index: -999;
  background-color: black;
  width: 100%;
  height: 100%;
  transition: left .5s ease, opacity .5s ease, z-index 0s .5s; }

.mobile-menu {
  display: none;
  background-color: white; }

#mobile-menu-btn {
  display: none; }

#main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #343739;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 99999; }

#logo-wrapper {
  display: inline-block;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em; }

.nav {
  display: inline-block;
  position: relative; }
  .nav__link {
    position: relative;
    color: white;
    padding: 20px;
    opacity: 0.8; }
    .nav__link:hover {
      opacity: 1; }

.section-wrapper {
  padding: 100px 0px;
  max-width: 900px;
  margin: 0 auto;
  transition: opacity 1s ease, top 1s ease;
  opacity: 0;
  position: relative;
  top: 100px; }
  .section-wrapper > h2 {
    text-align: center;
    color: #343739;
    margin-bottom: 15px;
    font-size: 2.5em;
    font-weight: 300; }
  .section-wrapper > p {
    text-align: center;
    margin-bottom: 35px;
    font-weight: 300; }

#tabs-wrapper {
  display: flex;
  position: relative;
  height: 650px;
  min-width: 320px; }

#tabs-list {
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
  width: 20%; }
  #tabs-list li > label {
    display: inline-block;
    color: #000;
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 15px 0px;
    padding-right: 40px;
    text-align: right;
    user-select: none;
    transition: padding .3s ease-out; }
    #tabs-list li > label:hover {
      cursor: pointer;
      color: black;
      padding-right: 25px; }
  #tabs-list input[type='radio'] {
    display: none; }
  #tabs-list li > input[type='radio']:checked + label {
    background-color: white;
    padding-right: 25px;
    color: #000; }

.tab-content {
  opacity: 0;
  width: 80%;
  position: absolute;
  right: 0;
  top: 0;
  height: 675px;
  background-color: white;
  padding: 0;
  padding-top: 20px;
  -moz-transition: opacity 0.4s ease, z-index 0s 0.4s, height 0.4s ease;
  -o-transition: opacity 0.4s ease, z-index 0s 0.4s, height 0.4s ease;
  -ms-transition: opacity 0.4s ease, z-index 0s 0.4s, height 0.4s ease;
  -webkit-transition: opacity 0.4s ease, z-index 0s 0.4s, height 0.4s ease;
  transition: opacity 0.4s ease, z-index 0s 0.4s, height 0.4s ease; }

input[type="radio"]:checked ~ .tab-content {
  opacity: 1;
  z-index: 1; }

#skills #skills-container {
  background-color: white;
  padding: 30px; }
#skills #percentage-bar {
  width: 80%;
  display: flex;
  margin: 0px auto;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px; }
#skills #percentage-bar-fend {
  width: 70%;
  height: 20px;
  display: inline-block;
  background-color: #d770af;
  text-align: left;
  padding: 0px 15px;
  line-height: 20px; }
#skills #percentage-bar-bend {
  width: 30%;
  height: 20px;
  display: inline-block;
  background-color: #4a70eb;
  text-align: right;
  padding: 0px 15px;
  line-height: 20px; }
#skills #skills-block-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap; }
  #skills #skills-block-container .skill-block {
    width: 50%;
    position: relative;
    top: 100px;
    opacity: 0;
    -moz-transition: top 0.7s ease-in-out, opacity 0.7s ease-in-out;
    -o-transition: top 0.7s ease-in-out, opacity 0.7s ease-in-out;
    -ms-transition: top 0.7s ease-in-out, opacity 0.7s ease-in-out;
    -webkit-transition: top 0.7s ease-in-out, opacity 0.7s ease-in-out;
    transition: top 0.7s ease-in-out, opacity 0.7s ease-in-out; }
    #skills #skills-block-container .skill-block h3 {
      text-align: center;
      margin: 20px 0px; }
    #skills #skills-block-container .skill-block .skill-graph {
      width: 100%;
      height: 300px;
      padding: 0px 23px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      position: relative; }
      #skills #skills-block-container .skill-block .skill-graph .labels-left {
        flex: 1 0;
        height: 210px; }
        #skills #skills-block-container .skill-block .skill-graph .labels-left p {
          margin-bottom: 32px;
          font-size: .85em;
          font-weight: bold;
          position: absolute;
          width: 89%;
          border-bottom: 1px dashed rgba(0, 0, 0, 0.1); }
          #skills #skills-block-container .skill-block .skill-graph .labels-left p:nth-child(1) {
            top: -4%; }
          #skills #skills-block-container .skill-block .skill-graph .labels-left p:nth-child(2) {
            top: 15%; }
          #skills #skills-block-container .skill-block .skill-graph .labels-left p:nth-child(3) {
            top: 33%; }
          #skills #skills-block-container .skill-block .skill-graph .labels-left p:nth-child(4) {
            top: 51%; }
      #skills #skills-block-container .skill-block .skill-graph .graph {
        flex: 4 0;
        height: 210px;
        display: flex;
        align-items: flex-end; }
        #skills #skills-block-container .skill-block .skill-graph .graph .graph-bar {
          height: 100%;
          width: 20%;
          margin: 0 13px;
          border-radius: 5px 5px 0px 0px;
          position: relative; }
          #skills #skills-block-container .skill-block .skill-graph .graph .graph-bar .tooltip {
            position: absolute;
            display: inline-block;
            width: 150px;
            background-color: rgba(0, 0, 0, 0.9);
            color: white;
            padding: 10px;
            border-radius: 10px;
            left: calc(50% - 75px);
            bottom: calc(100% + 12px);
            opacity: 0;
            visibility: hidden;
            -moz-transition: bottom 0.4s ease-out, opacity 0.3s ease-out;
            -o-transition: bottom 0.4s ease-out, opacity 0.3s ease-out;
            -ms-transition: bottom 0.4s ease-out, opacity 0.3s ease-out;
            -webkit-transition: bottom 0.4s ease-out, opacity 0.3s ease-out;
            transition: bottom 0.4s ease-out, opacity 0.3s ease-out;
            z-index: 999;
            font-weight: 300; }
            #skills #skills-block-container .skill-block .skill-graph .graph .graph-bar .tooltip::after {
              content: ' ';
              position: absolute;
              width: 0;
              height: 0;
              left: calc(50% - 12px);
              bottom: -12px;
              border-top: 12px solid rgba(0, 0, 0, 0.9);
              border-right: 12px solid transparent;
              border-left: 12px solid transparent; }
          #skills #skills-block-container .skill-block .skill-graph .graph .graph-bar:hover .tooltip {
            bottom: calc(100% + 20px);
            visibility: visible;
            opacity: 1; }
      #skills #skills-block-container .skill-block .skill-graph .labels-bottom {
        flex: 1 0 100%;
        height: 90px;
        width: 100%;
        padding-left: 70px;
        padding-top: 15px;
        display: flex;
        border-top: 1px solid rgba(0, 0, 0, 0.2); }
        #skills #skills-block-container .skill-block .skill-graph .labels-bottom p {
          transform: rotate(40deg);
          width: 20%;
          font-size: .9em;
          white-space: nowrap; }
  #skills #skills-block-container #front-end-skills h3 {
    color: #d770af; }
  #skills #skills-block-container #front-end-skills .graph-bar {
    background-color: #d770af; }
    #skills #skills-block-container #front-end-skills .graph-bar:nth-child(1) {
      height: 60%; }
    #skills #skills-block-container #front-end-skills .graph-bar:nth-child(2) {
      height: 98%; }
    #skills #skills-block-container #front-end-skills .graph-bar:nth-child(3) {
      height: 30%; }
    #skills #skills-block-container #front-end-skills .graph-bar:nth-child(4) {
      height: 60%; }
    #skills #skills-block-container #front-end-skills .graph-bar:nth-child(5) {
      height: 37%; }
  #skills #skills-block-container #back-end-skills h3 {
    color: #4a70eb; }
  #skills #skills-block-container #back-end-skills .graph-bar {
    background-color: #4a70eb; }
    #skills #skills-block-container #back-end-skills .graph-bar:nth-child(1) {
      height: 63%; }
    #skills #skills-block-container #back-end-skills .graph-bar:nth-child(2) {
      height: 46%; }
    #skills #skills-block-container #back-end-skills .graph-bar:nth-child(3) {
      height: 38%; }
    #skills #skills-block-container #back-end-skills .graph-bar:nth-child(4) {
      height: 43%; }
    #skills #skills-block-container #back-end-skills .graph-bar:nth-child(5) {
      height: 33%; }
  #skills #skills-block-container #other-skills h3 {
    color: #ffac41; }
  #skills #skills-block-container #other-skills .graph-bar {
    background-color: #ffac41; }
    #skills #skills-block-container #other-skills .graph-bar:nth-child(1) {
      height: 67%; }
    #skills #skills-block-container #other-skills .graph-bar:nth-child(2) {
      height: 90%; }
    #skills #skills-block-container #other-skills .graph-bar:nth-child(3) {
      height: 70%; }
    #skills #skills-block-container #other-skills .graph-bar:nth-child(4) {
      height: 75%; }
    #skills #skills-block-container #other-skills .graph-bar:nth-child(5) {
      height: 52%; }

#contact-form .input-group {
  display: flex;
  justify-content: center;
  position: relative;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 15px; }
  #contact-form .input-group:first-child {
    margin-top: 40px;
    margin-bottom: 1px; }
  #contact-form .input-group input[type=text] {
    width: 50%;
    margin: 0;
    height: 50px;
    padding: 10px 10px 0px 10px;
    font-size: 1.1em;
    background-color: #343739;
    outline: none;
    border: none;
    color: white; }
    #contact-form .input-group input[type=text]:focus + label, #contact-form .input-group input[type=text]:valid + label {
      font-size: .9em;
      top: 1px; }
    #contact-form .input-group input[type=text]#contact-email {
      border-right: 1px solid #F2F2F2;
      border-radius: 5px 0px 0px 0px; }
    #contact-form .input-group input[type=text]#contact-name {
      border-radius: 0px 5px 0px 0px; }
  #contact-form .input-group textarea {
    width: 100%;
    height: 250px;
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    background-color: #343739;
    color: white;
    border-radius: 0px 0px 5px 5px; }
#contact-form label {
  position: absolute;
  font-size: 1.2em;
  top: 13px;
  color: white;
  opacity: .7;
  -moz-transition: top 0.2s ease, font-size 0.2s ease;
  -o-transition: top 0.2s ease, font-size 0.2s ease;
  -ms-transition: top 0.2s ease, font-size 0.2s ease;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease; }
  #contact-form label[for=contact-email] {
    left: 10px; }
  #contact-form label[for=contact-name] {
    left: calc(50% + 10px); }
#contact-form #contact-form-btn {
  display: block;
  margin: 20px auto;
  background-color: #343739; }

#main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #343739;
  height: 60px;
  width: 100%;
  color: white;
  margin-top: 100px; }

@media screen and (max-width: 960px) {
  #logo-wrapper {
    position: absolute;
    left: -152px;
    transition: left .5s ease; }

  #search-bar-wrapper {
    position: absolute;
    top: 16px;
    right: 10px;
    z-index: 999;
    visibility: visible;
    transition: opacity .5s ease, visibility 0s 0s; }

  #main-nav {
    position: absolute;
    width: 250px;
    overflow: scroll;
    left: -365px;
    top: 60px;
    flex-direction: column;
    transition: left .5s ease;
    height: 100vh;
    background-color: white; }
    #main-nav .mobile-menu {
      flex-direction: column; }
      #main-nav .mobile-menu li a {
        color: black; }

  #hamburguer {
    position: fixed;
    z-index: 9999999999;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 10px;
    cursor: pointer;
    transition: left .5s ease; }
    #hamburguer span {
      height: 4px;
      width: 100%;
      background-color: white;
      position: absolute;
      transform: rotate(0deg);
      opacity: 1;
      -moz-transition: transform 0.5s ease, opacity 0.3s ease, top 0.3s 0.5s ease;
      -o-transition: transform 0.5s ease, opacity 0.3s ease, top 0.3s 0.5s ease;
      -ms-transition: transform 0.5s ease, opacity 0.3s ease, top 0.3s 0.5s ease;
      -webkit-transition: transform 0.5s ease, opacity 0.3s ease, top 0.3s 0.5s ease;
      transition: transform 0.5s ease, opacity 0.3s ease, top 0.3s 0.5s ease; }
      #hamburguer span:nth-child(1) {
        top: 6px; }
      #hamburguer span:nth-child(2), #hamburguer span:nth-child(3) {
        top: 18px; }
      #hamburguer span:nth-child(4) {
        top: 30px; }

  #mobile-menu-btn:checked + label#hamburguer {
    left: 90%;
    left: calc(100% - 60px); }
    #mobile-menu-btn:checked + label#hamburguer span:nth-child(1), #mobile-menu-btn:checked + label#hamburguer span:nth-child(4) {
      top: 18px;
      opacity: 0;
      -moz-transition: transform 0.5s ease, opacity 0.3s ease, top 0.3s 0s ease;
      -o-transition: transform 0.5s ease, opacity 0.3s ease, top 0.3s 0s ease;
      -ms-transition: transform 0.5s ease, opacity 0.3s ease, top 0.3s 0s ease;
      -webkit-transition: transform 0.5s ease, opacity 0.3s ease, top 0.3s 0s ease;
      transition: transform 0.5s ease, opacity 0.3s ease, top 0.3s 0s ease; }
    #mobile-menu-btn:checked + label#hamburguer span:nth-child(2) {
      transform: rotate(45deg);
      -moz-transition: transform 0.5s 0.5s ease;
      -o-transition: transform 0.5s 0.5s ease;
      -ms-transition: transform 0.5s 0.5s ease;
      -webkit-transition: transform 0.5s 0.5s ease;
      transition: transform 0.5s 0.5s ease; }
    #mobile-menu-btn:checked + label#hamburguer span:nth-child(3) {
      transform: rotate(-45deg);
      -moz-transition: transform 0.5s 0.5s ease;
      -o-transition: transform 0.5s 0.5s ease;
      -ms-transition: transform 0.5s 0.5s ease;
      -webkit-transition: transform 0.5s 0.5s ease;
      transition: transform 0.5s 0.5s ease; }
  #mobile-menu-btn:checked ~ header > #logo-wrapper {
    left: 20px; }
  #mobile-menu-btn:checked ~ header > #main-nav {
    left: 0px; }
  #mobile-menu-btn:checked ~ header > #search-bar-wrapper {
    opacity: 0;
    visibility: hidden;
    -moz-transition: opacity 0.5s ease, visibility 0s 0.3s;
    -o-transition: opacity 0.5s ease, visibility 0s 0.3s;
    -ms-transition: opacity 0.5s ease, visibility 0s 0.3s;
    -webkit-transition: opacity 0.5s ease, visibility 0s 0.3s;
    transition: opacity 0.5s ease, visibility 0s 0.3s; }
  #mobile-menu-btn:checked ~ main {
    overflow: hidden;
    left: 250px; }
  #mobile-menu-btn:checked ~ .mask {
    z-index: 999999999999;
    opacity: 0.7;
    left: 250px;
    -moz-transition: left 0.5s ease, opacity 0.5s ease;
    -o-transition: left 0.5s ease, opacity 0.5s ease;
    -ms-transition: left 0.5s ease, opacity 0.5s ease;
    -webkit-transition: left 0.5s ease, opacity 0.5s ease;
    transition: left 0.5s ease, opacity 0.5s ease; }

  .mobile-menu {
    display: flex;
    position: relative; }

  .main-menu {
    display: none; }

  #tabs-list {
    display: block;
    width: 100%; }
    #tabs-list li {
      display: block;
      padding: 0; }
      #tabs-list li > label {
        text-align: center;
        padding-right: 0px;
        background-color: white;
        border-top: 1px solid #343739;
        border-top: 1px solid rgba(50, 50, 50, 0.5);
        border-bottom: none;
        -moz-transition: background-color 0.1s ease, color 0.1s ease;
        -o-transition: background-color 0.1s ease, color 0.1s ease;
        -ms-transition: background-color 0.1s ease, color 0.1s ease;
        -webkit-transition: background-color 0.1s ease, color 0.1s ease;
        transition: background-color 0.1s ease, color 0.1s ease; }
        #tabs-list li > label:hover {
          background-color: #343739;
          color: white;
          padding-right: 0px; }
      #tabs-list li > input[type='radio']:checked + label {
        padding-right: 0px;
        border: none;
        border-top: 1px solid #343739;
        background-color: #343739;
        color: white; }
    #tabs-list li:last-child > label {
      border-bottom: 1px solid #343739;
      border-bottom: 1px solid rgba(50, 50, 50, 0.5); }
    #tabs-list .tab-content {
      position: relative;
      width: 100%;
      height: 0px;
      overflow: hidden;
      -moz-transition: opacity 0.4s ease, z-index 0s 0.4s, height 0.4s ease, padding 0.4s ease;
      -o-transition: opacity 0.4s ease, z-index 0s 0.4s, height 0.4s ease, padding 0.4s ease;
      -ms-transition: opacity 0.4s ease, z-index 0s 0.4s, height 0.4s ease, padding 0.4s ease;
      -webkit-transition: opacity 0.4s ease, z-index 0s 0.4s, height 0.4s ease, padding 0.4s ease;
      transition: opacity 0.4s ease, z-index 0s 0.4s, height 0.4s ease, padding 0.4s ease; }
    #tabs-list input[type=radio]:not(:checked) ~ .tab-content {
      padding-top: 0px; }
    #tabs-list input[type=radio]:checked ~ .tab-content {
      height: 675px; }
    #tabs-list .carousel .slide {
      width: 100%;
      left: 0;
      top: 0;
      height: 450px; }
      #tabs-list .carousel .slide img {
        width: 80%;
        display: block;
        margin: 0 auto; }
    #tabs-list .pilltabs, #tabs-list .undertabs {
      text-align: center; }
      #tabs-list .pilltabs .content, #tabs-list .undertabs .content {
        left: 0px; }

  #skills #skills-block-container .skill-block {
    width: 450px; } }
@media screen and (max-width: 600px) {
  .section-wrapper > p {
    padding: 0px 12px; }

  #skills #skills-container {
    padding: 0px; }
  #skills #skills-block-container {
    display: block; }
    #skills #skills-block-container .skill-block {
      padding: 0px;
      margin: 0 auto;
      width: 320px; }
      #skills #skills-block-container .skill-block .skill-graph {
        padding: 5px; }
        #skills #skills-block-container .skill-block .skill-graph .labels-left p {
          font-size: .7em; }
        #skills #skills-block-container .skill-block .skill-graph .graph .graph-bar {
          margin: 0 7px; }
        #skills #skills-block-container .skill-block .skill-graph .labels-bottom {
          padding-left: 40px; }
          #skills #skills-block-container .skill-block .skill-graph .labels-bottom p {
            white-space: normal;
            font-size: .7em;
            margin-left: -2px; } }
@media screen and (max-width: 430px) {
  .pilltabs label:nth-last-of-type(1) {
    display: none !important; }
  .pilltabs label:nth-last-of-type(2) {
    display: none !important; }

  .undertabs label:nth-last-of-type(1) {
    display: none !important; }
  .undertabs label:nth-last-of-type(2) {
    display: none !important; }

  .graph .graph-bar .tooltip {
    display: none !important; } }
.search-bar {
  background-color: rgba(200, 200, 200, 0.3);
  border-radius: 8px;
  display: inline-block;
  opacity: 1;
  padding-right: 5px;
  position: relative;
  top: 0px;
  transition: opacity .3s ease, visibility 0s 0.3s;
  visibility: visible; }
  .search-bar__label {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    left: 4px;
    position: absolute;
    text-transform: capitalize;
    top: 6px;
    transition: top .3s ease, font-size .3s ease; }
  .search-bar__button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    height: 0;
    outline: none;
    padding: 3px;
    position: relative; }
    .search-bar__button i {
      font-size: 1.5em;
      transition: transform .2s ease; }
    .search-bar__button:hover > i {
      transform: scale(1.2); }
  .search-bar__input {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    outline: none;
    padding: 5px;
    width: 150px; }
    .search-bar__input:focus + label, .search-bar__input:valid + label {
      font-size: 10px;
      top: -12px; }

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99999;
  opacity: 0;
  transition: opacity .2s ease; }
  .modal__content {
    background-color: white;
    display: block;
    width: 60%;
    margin: 15% auto;
    height: 300px; }
  .modal__header {
    background-color: #f56254;
    text-align: right; }
  .modal__body {
    text-align: center;
    padding: 40px;
    font-size: 2em;
    margin-bottom: 25px; }
  .modal__close {
    margin-right: 20px;
    font-size: 2.5em;
    color: white; }
    .modal__close:hover {
      cursor: pointer;
      color: black; }
  .modal__footer p {
    color: #aaa;
    font-size: .7em;
    text-align: center; }

#tabs-list .pilltabs {
  position: relative;
  padding: 20px;
  font-family: 'Futura', sans-serif;
  margin-bottom: 100px; }
  #tabs-list .pilltabs input {
    display: none; }
  #tabs-list .pilltabs label {
    padding: 10px;
    cursor: pointer;
    user-select: none;
    -moz-transition: border 0.2s ease, background-color 0.2s ease;
    -o-transition: border 0.2s ease, background-color 0.2s ease;
    -ms-transition: border 0.2s ease, background-color 0.2s ease;
    -webkit-transition: border 0.2s ease, background-color 0.2s ease;
    transition: border 0.2s ease, background-color 0.2s ease;
    color: #ffac41;
    border: 1px solid transparent;
    border-radius: 7px; }
  #tabs-list .pilltabs input[type='radio']:checked + label {
    background-color: #ffac41;
    color: white;
    border-radius: 7px; }
    #tabs-list .pilltabs input[type='radio']:checked + label + .content {
      opacity: 1;
      top: 50px; }
  #tabs-list .pilltabs input[type='radio']:not(:checked) + label:hover {
    border: 1px solid #ffac41;
    color: #ffac41; }
  #tabs-list .pilltabs .content {
    position: absolute;
    top: 80px;
    opacity: 0;
    padding: 10px;
    width: 100%;
    font-weight: 300;
    -moz-transition: top 0.3s ease-in-out, opacity 0.15s ease-in-out;
    -o-transition: top 0.3s ease-in-out, opacity 0.15s ease-in-out;
    -ms-transition: top 0.3s ease-in-out, opacity 0.15s ease-in-out;
    -webkit-transition: top 0.3s ease-in-out, opacity 0.15s ease-in-out;
    transition: top 0.3s ease-in-out, opacity 0.15s ease-in-out; }
#tabs-list .undertabs {
  position: relative;
  padding: 20px;
  font-family: 'Futura', sans-serif;
  margin-bottom: 100px; }
  #tabs-list .undertabs input {
    display: none; }
  #tabs-list .undertabs .content {
    position: absolute;
    top: 80px;
    opacity: 0;
    padding: 10px;
    width: 100%;
    font-weight: 300;
    -moz-transition: top 0.3s ease-in-out, opacity 0.15s ease-in-out;
    -o-transition: top 0.3s ease-in-out, opacity 0.15s ease-in-out;
    -ms-transition: top 0.3s ease-in-out, opacity 0.15s ease-in-out;
    -webkit-transition: top 0.3s ease-in-out, opacity 0.15s ease-in-out;
    transition: top 0.3s ease-in-out, opacity 0.15s ease-in-out; }
  #tabs-list .undertabs input[type='radio']:checked + label {
    color: #ffac41; }
    #tabs-list .undertabs input[type='radio']:checked + label::after {
      width: 100%;
      right: 0; }
    #tabs-list .undertabs input[type='radio']:checked + label + .content {
      opacity: 1;
      top: 50px; }
  #tabs-list .undertabs label {
    padding: 10px;
    padding-bottom: 7px;
    cursor: pointer;
    user-select: none;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    position: relative; }
    #tabs-list .undertabs label::after {
      content: '';
      width: 0px;
      border-bottom: 2px solid #ffac41;
      position: absolute;
      display: inline-block;
      bottom: 0px;
      right: 50%;
      -moz-transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
      -ms-transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
      -webkit-transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
      transition: width 0.3s ease-in-out, right 0.3s ease-in-out; }

.carousel {
  position: relative;
  height: 475px; }
  .carousel input[type='radio'] + .slide {
    visibility: hidden; }
  .carousel input[type='radio']:checked + .slide {
    visibility: visible; }
  .carousel .carousel-labels > label {
    cursor: pointer; }
    .carousel .carousel-labels > label[class*='arrow'] {
      color: black;
      color: rgba(0, 0, 0, 0.5);
      transition: transform .2s ease; }
      .carousel .carousel-labels > label[class*='arrow']:hover {
        color: black;
        transform: scale(1.2); }

.slide {
  position: absolute;
  overflow: hidden; }
  .slide h3 {
    text-align: center;
    margin-bottom: 20px; }
  .slide img {
    width: 100%; }

#slide-1-1 + .slide,
#slide-1-2 + .slide,
#slide-1-3 + .slide {
  width: 275px;
  left: 225px;
  top: 30px; }

#slide-2-1 + .slide,
#slide-2-2 + .slide,
#slide-2-3 + .slide {
  width: 500px;
  max-height: 445px;
  left: 115px;
  top: 30px; }

#slide-3-1 + .slide,
#slide-3-2 + .slide,
#slide-3-3 + .slide {
  width: 500px;
  left: 110px;
  top: 30px; }

#slide-4-1 + .slide,
#slide-4-2 + .slide,
#slide-4-3 + .slide {
  width: 500px;
  left: 110px;
  top: 30px; }

.carousel-labels .pills {
  position: relative;
  text-align: center;
  top: 480px; }
.carousel-labels label.slide-pill {
  margin-right: 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3); }
  .carousel-labels label.slide-pill:hover {
    cursor: pointer; }
.carousel-labels label[class*='arrow'] {
  visibility: hidden;
  position: absolute;
  font-size: 1.5em; }
.carousel-labels label.arrow-right {
  right: 20px;
  top: calc(50% - 18px); }
.carousel-labels label.arrow-left {
  left: 20px;
  top: calc(50% - 18px); }

#slide-1-1:checked ~ .carousel-labels > label.arrow-left[for="slide-1-3"],
#slide-1-1:checked ~ .carousel-labels > label.arrow-right[for="slide-1-2"],
#slide-1-2:checked ~ .carousel-labels > label.arrow-left[for="slide-1-1"],
#slide-1-2:checked ~ .carousel-labels > label.arrow-right[for="slide-1-3"],
#slide-1-3:checked ~ .carousel-labels > label.arrow-left[for="slide-1-2"],
#slide-1-3:checked ~ .carousel-labels > label.arrow-right[for="slide-1-1"],
#slide-2-1:checked ~ .carousel-labels > label.arrow-left[for="slide-2-3"],
#slide-2-1:checked ~ .carousel-labels > label.arrow-right[for="slide-2-2"],
#slide-2-2:checked ~ .carousel-labels > label.arrow-left[for="slide-2-1"],
#slide-2-2:checked ~ .carousel-labels > label.arrow-right[for="slide-2-3"],
#slide-2-3:checked ~ .carousel-labels > label.arrow-left[for="slide-2-2"],
#slide-2-3:checked ~ .carousel-labels > label.arrow-right[for="slide-2-1"],
#slide-3-1:checked ~ .carousel-labels > label.arrow-left[for="slide-3-3"],
#slide-3-1:checked ~ .carousel-labels > label.arrow-right[for="slide-3-2"],
#slide-3-2:checked ~ .carousel-labels > label.arrow-left[for="slide-3-1"],
#slide-3-2:checked ~ .carousel-labels > label.arrow-right[for="slide-3-3"],
#slide-3-3:checked ~ .carousel-labels > label.arrow-left[for="slide-3-2"],
#slide-3-3:checked ~ .carousel-labels > label.arrow-right[for="slide-3-1"],
#slide-4-1:checked ~ .carousel-labels > label.arrow-left[for="slide-4-3"],
#slide-4-1:checked ~ .carousel-labels > label.arrow-right[for="slide-4-2"],
#slide-4-2:checked ~ .carousel-labels > label.arrow-left[for="slide-4-1"],
#slide-4-2:checked ~ .carousel-labels > label.arrow-right[for="slide-4-3"],
#slide-4-3:checked ~ .carousel-labels > label.arrow-left[for="slide-4-2"],
#slide-4-3:checked ~ .carousel-labels > label.arrow-right[for="slide-4-1"] {
  visibility: visible; }

#slide-1-1:checked ~ .carousel-labels label.slide-pill[for="slide-1-1"],
#slide-1-2:checked ~ .carousel-labels label.slide-pill[for="slide-1-2"],
#slide-1-3:checked ~ .carousel-labels label.slide-pill[for="slide-1-3"],
#slide-2-1:checked ~ .carousel-labels label.slide-pill[for="slide-2-1"],
#slide-2-2:checked ~ .carousel-labels label.slide-pill[for="slide-2-2"],
#slide-2-3:checked ~ .carousel-labels label.slide-pill[for="slide-2-3"],
#slide-3-1:checked ~ .carousel-labels label.slide-pill[for="slide-3-1"],
#slide-3-2:checked ~ .carousel-labels label.slide-pill[for="slide-3-2"],
#slide-3-3:checked ~ .carousel-labels label.slide-pill[for="slide-3-3"],
#slide-4-1:checked ~ .carousel-labels label.slide-pill[for="slide-4-1"],
#slide-4-2:checked ~ .carousel-labels label.slide-pill[for="slide-4-2"],
#slide-4-3:checked ~ .carousel-labels label.slide-pill[for="slide-4-3"] {
  background-color: #90b7f0; }

#buttons-slide {
  text-align: center;
  margin-top: 30px; }
  #buttons-slide h3 {
    margin-bottom: 40px; }

.tab-content .tab-footer {
  margin-top: 30px;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .tab-content .tab-footer p:first-child {
    text-transform: capitalize; }

.btn {
  display: inline-block;
  background-color: #ff4928;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
  color: initial;
  border: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  color: white;
  -moz-transition: box-shadow 0.1s ease-in-out;
  -o-transition: box-shadow 0.1s ease-in-out;
  -ms-transition: box-shadow 0.1s ease-in-out;
  -webkit-transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out;
  margin: 10px 20px; }
  .btn:hover {
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3); }
  .btn:active {
    color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); }
  .btn:visited {
    color: white;
    text-decoration: none; }

.btn-sm {
  font-size: .8em;
  padding: 5px; }

.btn-md {
  font-size: 1em;
  padding: 7px; }

.btn-lg {
  font-size: 1.2em;
  padding: 10px; }

.btn.btn-press {
  border-radius: 1000px;
  box-shadow: inset 0px 3px 5px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3); }
  .btn.btn-press:hover {
    box-shadow: inset 0px 3px 5px rgba(255, 255, 255, 0.5); }
  .btn.btn-press:active {
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.3); }

.btn.btn-press2 {
  box-shadow: none;
  position: relative;
  overflow: visible;
  border-radius: 5px 5px 0 0;
  top: 0;
  -moz-transition: top 0.2s ease;
  -o-transition: top 0.2s ease;
  -ms-transition: top 0.2s ease;
  -webkit-transition: top 0.2s ease;
  transition: top 0.2s ease; }
  .btn.btn-press2::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #b5331b;
    position: absolute;
    left: 0;
    top: calc(100% - 2px);
    -moz-transition: height 0.2s ease, box-shadow 0.2s ease;
    -o-transition: height 0.2s ease, box-shadow 0.2s ease;
    -ms-transition: height 0.2s ease, box-shadow 0.2s ease;
    -webkit-transition: height 0.2s ease, box-shadow 0.2s ease;
    transition: height 0.2s ease, box-shadow 0.2s ease; }
  .btn.btn-press2:hover {
    top: -3px; }
    .btn.btn-press2:hover::after {
      height: 5px;
      box-shadow: 0px 3px 3px -1px rgba(0, 0, 0, 0.2); }
  .btn.btn-press2:active {
    top: 0px; }
    .btn.btn-press2:active::after {
      height: 2px; }

#radiocheckbox {
  display: block;
  margin: 0 auto;
  width: 250px; }
  #radiocheckbox h3 {
    margin-bottom: 50px; }
  #radiocheckbox label {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 1.2em;
    -khtml-user-select: none;
    -apple-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none; }
  #radiocheckbox input[type='radio']:checked + label {
    color: black; }
  #radiocheckbox label:hover {
    color: black; }
  #radiocheckbox input[type='checkbox'].mybox {
    -webkit-appearance: none;
    position: relative;
    width: 25px;
    height: 25px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    outline: none;
    vertical-align: middle; }
    #radiocheckbox input[type='checkbox'].mybox:checked {
      border: 1px solid #33c5dc; }
      #radiocheckbox input[type='checkbox'].mybox:checked::before {
        opacity: 1;
        width: 12px;
        height: 6px;
        position: absolute;
        left: 5px;
        top: 5px;
        -moz-transition: opacity 0.2s ease, width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, transform 0.2s ease;
        -o-transition: opacity 0.2s ease, width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, transform 0.2s ease;
        -ms-transition: opacity 0.2s ease, width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, transform 0.2s ease;
        -webkit-transition: opacity 0.2s ease, width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, transform 0.2s ease;
        transition: opacity 0.2s ease, width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, transform 0.2s ease; }
    #radiocheckbox input[type='checkbox'].mybox::before {
      content: '';
      border-left: 2px solid #33c5dc;
      border-bottom: 2px solid #33c5dc;
      position: absolute;
      width: 0;
      height: 0;
      top: 10px;
      left: 10px;
      transform: rotate(-45deg);
      opacity: 0;
      -moz-transition: opacity 0.2s ease, width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, transform 0.2s ease;
      -o-transition: opacity 0.2s ease, width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, transform 0.2s ease;
      -ms-transition: opacity 0.2s ease, width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, transform 0.2s ease;
      -webkit-transition: opacity 0.2s ease, width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, transform 0.2s ease;
      transition: opacity 0.2s ease, width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, transform 0.2s ease; }
    #radiocheckbox input[type='checkbox'].mybox:hover {
      cursor: pointer; }
    #radiocheckbox input[type='checkbox'].mybox.fill-in::after {
      content: '';
      width: 0;
      height: 0;
      border-radius: 5px;
      position: absolute;
      background-color: #33c5dc;
      top: 12px;
      left: 12px;
      opacity: 0;
      -moz-transition: opacity 0.2s ease, width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, transform 0.2s ease;
      -o-transition: opacity 0.2s ease, width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, transform 0.2s ease;
      -ms-transition: opacity 0.2s ease, width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, transform 0.2s ease;
      -webkit-transition: opacity 0.2s ease, width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, transform 0.2s ease;
      transition: opacity 0.2s ease, width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, transform 0.2s ease; }
    #radiocheckbox input[type='checkbox'].mybox.fill-in::before {
      z-index: 1; }
    #radiocheckbox input[type='checkbox'].mybox.fill-in:checked::after {
      width: 25px;
      height: 25px;
      top: -1px;
      left: -1px;
      opacity: 1; }
    #radiocheckbox input[type='checkbox'].mybox.fill-in:checked::before {
      border-color: white; }
    #radiocheckbox input[type='checkbox'].mybox.no-box {
      border: none; }
      #radiocheckbox input[type='checkbox'].mybox.no-box::before {
        content: '';
        opacity: 1;
        transform: initial;
        position: absolute;
        border: 1px solid #cfcfcf;
        border-radius: 5px;
        width: 23px;
        height: 23px;
        top: 0;
        left: 0; }
      #radiocheckbox input[type='checkbox'].mybox.no-box:checked::before {
        transform: rotate(-45deg);
        border-radius: 0;
        border-top: none;
        border-right: none;
        border-bottom: 2px solid #33c5dc;
        border-left: 2px solid #33c5dc;
        height: 12px; }
  #radiocheckbox input[type='radio'].mybox {
    -webkit-appearance: none;
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #cfcfcf;
    outline: none;
    vertical-align: middle;
    display: inline-block !important; }
    #radiocheckbox input[type='radio'].mybox:checked {
      border-color: #33c5dc; }
      #radiocheckbox input[type='radio'].mybox:checked::before {
        top: -1px;
        left: -1px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #33c5dc; }
    #radiocheckbox input[type='radio'].mybox::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 12px;
      left: 12px;
      border-radius: 50%;
      -moz-transition: opacity 0.2s ease, width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, transform 0.2s ease;
      -o-transition: opacity 0.2s ease, width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, transform 0.2s ease;
      -ms-transition: opacity 0.2s ease, width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, transform 0.2s ease;
      -webkit-transition: opacity 0.2s ease, width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, transform 0.2s ease;
      transition: opacity 0.2s ease, width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, transform 0.2s ease; }
    #radiocheckbox input[type='radio'].mybox.gapped:checked::before {
      width: 11px;
      height: 11px;
      top: 6px;
      left: 6px; }
  #radiocheckbox input.mybox.switch {
    width: 50px;
    height: 25px;
    border-radius: 25px; }
    #radiocheckbox input.mybox.switch::before {
      border: none;
      background-color: #cfcfcf;
      width: 50%;
      height: 100%;
      transform: none;
      top: 0;
      left: 0;
      opacity: 1;
      border-radius: 50%; }
    #radiocheckbox input.mybox.switch:checked::before {
      border: none;
      background-color: #33c5dc;
      transform: none;
      width: 50%;
      height: 100%;
      top: 0;
      left: 50%;
      border-radius: 50%; }
  #radiocheckbox #radiocheckbox-content {
    padding-left: 20px; }

#aria-accordion-wrapper {
  height: 475px;
  overflow-y: scroll; }
  #aria-accordion-wrapper .aria-accordion {
    max-width: 480px;
    width: 90%;
    font-family: sans-serif;
    display: block;
    margin: 0 auto; }
    #aria-accordion-wrapper .aria-accordion .accordion-heading {
      border: 2px solid #6A88DD;
      margin: 0;
      padding: .25em .5em;
      background-color: #4a70eb;
      color: white;
      cursor: pointer;
      height: 40px;
      -moz-transition: transform 0.2s ease, color 0.2s ease, background-color 0.2s ease;
      -o-transition: transform 0.2s ease, color 0.2s ease, background-color 0.2s ease;
      -ms-transition: transform 0.2s ease, color 0.2s ease, background-color 0.2s ease;
      -webkit-transition: transform 0.2s ease, color 0.2s ease, background-color 0.2s ease;
      transition: transform 0.2s ease, color 0.2s ease, background-color 0.2s ease; }
      #aria-accordion-wrapper .aria-accordion .accordion-heading:hover {
        transform: scaleX(1.05); }
      #aria-accordion-wrapper .aria-accordion .accordion-heading[aria-selected=true] {
        background-color: white;
        color: #4a70eb; }
    #aria-accordion-wrapper .aria-accordion h3[aria-selected='false']:last-of-type {
      border-bottom: none; }
    #aria-accordion-wrapper .aria-accordion div[aria-hidden=true] {
      display: none; }
    #aria-accordion-wrapper .aria-accordion .accordion-panel {
      border-bottom: 2px solid #6A88DD;
      border-left: 2px solid #6A88DD;
      border-right: 2px solid #6A88DD;
      padding: .25em .5em;
      min-height: 10em; }

#contact #contact-wrapper {
  position: relative;
  height: 290px;
  margin-top: 70px; }
  #contact #contact-wrapper label {
    cursor: pointer;
    display: inline-block;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    -ms-perspective: 1000px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    font-family: 'Lato', sans-serif;
    left: 24%; }
    #contact #contact-wrapper label:hover .card {
      -moz-transform: rotateX(20deg);
      -o-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
      -webkit-transform: rotateX(20deg);
      transform: rotateX(20deg);
      box-shadow: 0 20px 20px rgba(50, 50, 50, 0.2); }
    #contact #contact-wrapper label:hover #card-toggle:checked + .card {
      -moz-transform: rotateX(160deg);
      -o-transform: rotateX(160deg);
      -ms-transform: rotateX(160deg);
      -webkit-transform: rotateX(160deg);
      transform: rotateX(160deg);
      box-shadow: 0 20px 20px rgba(50, 50, 50, 0.2); }
  #contact #contact-wrapper input#card-toggle {
    display: none; }
    #contact #contact-wrapper input#card-toggle:checked + .card {
      -moz-transform: rotateX(180deg);
      -o-transform: rotateX(180deg);
      -ms-transform: rotateX(180deg);
      -webkit-transform: rotateX(180deg);
      transform: rotateX(180deg); }
  #contact #contact-wrapper .card {
    position: relative;
    width: 470px;
    height: 290px;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transition: all 600ms;
    -o-transition: all 600ms;
    -ms-transition: all 600ms;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5); }
    #contact #contact-wrapper .card .front, #contact #contact-wrapper .card .back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 3px;
      padding: 20px; }
    #contact #contact-wrapper .card .front {
      background-image: url("../img/bg2.png"); }
      #contact #contact-wrapper .card .front h1 {
        color: white;
        font-weight: 300;
        margin: 0px; }
      #contact #contact-wrapper .card .front p {
        margin: 0px;
        color: white; }
    #contact #contact-wrapper .card .back {
      -moz-transform: rotateX(180deg);
      -o-transform: rotateX(180deg);
      -ms-transform: rotateX(180deg);
      -webkit-transform: rotateX(180deg);
      transform: rotateX(180deg);
      background-image: url("../img/catface.jpg");
      background-size: cover; }
  #contact #contact-wrapper p small {
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8); }
  #contact #contact-wrapper p#info {
    margin-top: 30px;
    font-weight: 300; }
  #contact #contact-wrapper p#email, #contact #contact-wrapper p#website {
    display: inline-block;
    color: #8e69c1;
    font-size: 12px;
    margin-top: 20px;
    margin-right: 30px; }
  #contact #contact-wrapper p#website a {
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: inherit; }
  #contact #contact-wrapper #enc-info {
    margin-top: 30px;
    display: inline-block; }
    #contact #contact-wrapper #enc-info p {
      display: inline-block;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.7);
      position: relative;
      top: -10px;
      left: 10px; }
      #contact #contact-wrapper #enc-info p span {
        color: white; }
      #contact #contact-wrapper #enc-info p a {
        color: #8e69c1; }
    #contact #contact-wrapper #enc-info img {
      display: inline-block; }
  #contact #contact-wrapper #social-media {
    display: inline-block;
    margin-left: 40px; }
    #contact #contact-wrapper #social-media span {
      margin: 0px 5px; }

@media screen and (max-width: 960px) {
  #contact #contact-wrapper label {
    left: 0;
    position: static;
    display: block;
    margin: 0 auto;
    width: 470px; }
  #contact #contact-wrapper .card {
    margin: 0 auto; } }
@media screen and (max-width: 560px) {
  #contact #contact-wrapper label {
    width: 280px; }
  #contact #contact-wrapper .card {
    width: 280px; }
    #contact #contact-wrapper .card #email {
      margin-right: 20px; }
    #contact #contact-wrapper .card #website {
      margin-right: 0px; }
    #contact #contact-wrapper .card .back {
      background-position: 50%; }
  #contact #contact-wrapper #enc-info {
    display: none; }
  #contact #contact-wrapper #social-media {
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 85px; } }

/*# sourceMappingURL=main.css.map */
