.section {

	&__wrapper {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		max-width: 900px;
		margin: 0 auto;
		opacity: 0;
        padding: 100px 0px;
		position: relative;
		top: 100px;
		transition: opacity 1s ease, top 1s ease;
        
	}

	&__title {
		text-align: center;
		color: #343739;
		margin-bottom: 15px;
		font-size: 2.5em;
		font-weight: 300;
	}

	&__info {
		text-align: center;
		margin-bottom: 35px;
		font-weight: 300;
	}
}
 
.tabs {
	display: flex;
	position: relative;
	height: 650px;
	min-width: 320px;

	&__list {
		display: inline-flex;
		flex-direction: column;
		vertical-align: top;
		width: 20%;
	}

	&__label {
		display: inline-block;
	    color: #000;
	    color: rgba(0,0,0,0.5);
		width: 100%;
		padding: 15px 0px;
		padding-right: 40px;
		text-align: right;
		user-select: none;
		transition: padding .3s ease-out;

		&:hover {
			cursor: pointer;
			color: black;
			padding-right: 25px;
		}
	}

	&__radio {
		display: none;
	}

	&__radio:checked + &__label {
		background-color: white;
		padding-right: 25px;
		color: #000;
	}

	&__content {
		opacity: 0;
		width: 80%;
		position: absolute;
		right: 0;
		top: 0;
		height: 675px;
		background-color: white;
		padding: 0;
		padding-top: 20px;
		@include transition(opacity .4s ease, z-index 0s .4s, height .4s ease);
	}

	&__radio:checked ~ &__content {
		opacity: 1;
	    z-index: 1;
	}

	&__footer {
	  	margin-top: 30px;
	  	padding: 20px;
	  	border-top: 1px solid rgba(0, 0, 0, 0.1); 

    	p:first-child {
    		text-transform: capitalize;
    	}
	}
}

#about {
	background-image: url('../img/portfolio_bgnd.jpg');
	background-position: center;
	background-size: cover;
    height: 100vh;
    
	.section__title {
		color: white;
		font-size: 3.5em;
	}

	.section__info {
		color: white;
		font-size: 1.5em;
	}
}

#skills {
	#skills-container {
		background-color: white;
		padding: 30px;
	}

	#percentage-bar {
		width: 80%;
		display: flex;
		margin: 0px auto;
		color: white;
		border-radius: 5px;
		overflow: hidden;
		margin-bottom: 30px;
	}

	#percentage-bar-fend {
		width: 70%;
		height: 20px;
		display: inline-block;
		background-color: #d770af;
		text-align: left;
		padding: 0px 15px;
		line-height: 20px;
	}

	#percentage-bar-bend {
		width: 30%;
		height: 20px;
		display: inline-block;
		background-color: #4a70eb;
		text-align: right;
		padding: 0px 15px;
		line-height: 20px;
	}

	#skills-block-container {
		display: flex;
		width: 100%;
		justify-content: space-around;
		flex-wrap: wrap;

		.skill-block {
			width: 50%;
		    position: relative;
			top: 100px;
			opacity: 0;
			@include transition(top .7s ease-in-out, opacity .7s ease-in-out);
			
			h3 {
				text-align: center;
				margin: 20px 0px;
			}

			.skill-graph {
				width: 100%;
				height: 300px;
				padding: 0px 23px;
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				position: relative;

				.labels-left {
					flex: 1 0;
					height: 210px;

					p {
						margin-bottom: 32px;
					    font-size: .85em;
					    font-weight: bold;
					    position: absolute;
					    width: 89%;
					    border-bottom: 1px dashed rgba(0,0,0,0.1);

					   &:nth-child(1) {
					   		top: -4%;
					   }
					   &:nth-child(2) {
					   		top: 15%;
					   }
					   &:nth-child(3) {
					   		top: 33%;
					   }
					   &:nth-child(4) {
					   		top: 51%;
					   }
					}
				}

				.graph {
					flex: 4 0;
					height: 210px;
					display: flex;
					align-items: flex-end;

					.graph-bar {
						height: 100%;
						width: 20%;
						margin: 0 13px;
						border-radius: 5px 5px 0px 0px;
					    position: relative;

					    .tooltip {
					    	position: absolute;
						    display: inline-block;
						    width: 150px;
						    background-color: rgba(0,0,0,0.9);
						    color: white;
						    padding: 10px;
						    border-radius: 10px;
						    left: calc(50% - 75px);
						    bottom: calc(100% + 12px);
						    opacity: 0;
						    visibility: hidden;
						    @include transition(bottom .4s ease-out, opacity .3s ease-out);
						    z-index: 999;
						    font-weight: 300;

						    &::after {
						    	content: ' ';
							    position: absolute;
							    width: 0;
							    height: 0;
							    left: calc(50% - 12px);
							    bottom: -12px;
							    border-top: 12px solid rgba(0,0,0,0.9);
							    border-right: 12px solid transparent;
							    border-left: 12px solid transparent;
						    }
					    }

					    &:hover {
					    	.tooltip {
					    		bottom: calc(100% + 20px);
								visibility: visible;
								opacity: 1;
					    	}
					    }
					}
				}

				.labels-bottom {
					flex: 1 0 100%;
					height: 90px;
					width: 100%;
					padding-left: 70px;
					padding-top: 15px;
				    display: flex;
				    border-top: 1px solid rgba(0,0,0,0.2);

				    p {
				    	transform: rotate(40deg);
					    width: 20%;
					    font-size: .9em;
					    white-space: nowrap;
				    }
				}
			}
		}

		#front-end-skills {
			h3 {
				color: #d770af;
			}

			.graph-bar {
				background-color: #d770af;
				&:nth-child(1) {
					height: 60%;
				}
				&:nth-child(2) {
					height: 98%;
				}
				&:nth-child(3) {
					height: 30%;
				}
				&:nth-child(4) {
					height: 60%;
				}
				&:nth-child(5) {
					height: 37%;
				}
			}
		}

		#back-end-skills {
			h3 {
				color: #4a70eb;
			}

			.graph-bar {
				background-color: #4a70eb;
				&:nth-child(1) {
					height: 63%;
				}
				&:nth-child(2) {
					height: 46%;
				}
				&:nth-child(3) {
					height: 38%;
				}
				&:nth-child(4) {
					height: 43%;
				}
				&:nth-child(5) {
					height: 33%;
				}
			}
		}

		#other-skills {
			h3 {
				color: #ffac41;
			}

			.graph-bar {
				background-color: #ffac41;
				&:nth-child(1) {
					height: 67%;
				}
				&:nth-child(2) {
					height: 90%;
				}
				&:nth-child(3) {
					height: 70%;
				}
				&:nth-child(4) {
					height: 75%;
				}
				&:nth-child(5) {
					height: 52%;
				}
			}
		}

	}
}

#contact-form {
	.input-group {
		display: flex;
		justify-content: center;
		position: relative;
		width: 600px;
		margin: 0 auto;
		margin-bottom: 15px;
		
		&:first-child {
			margin-top: 40px;
			margin-bottom: 1px;
		}

		input[type=text] {
			width: 50%;
			margin: 0;
			height: 50px;
			padding: 10px 10px 0px 10px;
			font-size: 1.1em;
			background-color: #343739;
			outline: none;
			border: none;
			color: white;

			&:focus + label, &:valid + label {
				font-size: .9em;
				top: 1px;
			}

			&#contact-email {
				border-right: 1px solid $bgndColor;
				border-radius: 5px 0px 0px 0px;
			}

			&#contact-name {
				border-radius: 0px 5px 0px 0px;
			}
		}

		textarea {
			width: 100%;
			height: 250px;
			padding: 10px;
			font-size: 1.1em;
			outline: none;
			background-color: #343739;
			color: white;
			border-radius: 0px 0px 5px 5px;
            scrollbar-track-color: #343739;
            scrollbar-arrow-color: #343739;
		}
	}


	label {
		position: absolute;
		font-size: 1.2em;
    	top: 13px;
    	color: white;
    	opacity: .7;

    	@include transition(top .2s ease, font-size .2s ease);

		&[for=contact-email] {
			left: 10px;
		}

		&[for=contact-name] {
			left: calc(50% + 10px);
		}
	}

	#contact-form-btn {
		display: block;
		margin: 20px auto;
		background-color: $mainColor;
	}
}




