@media screen and (max-width: 960px) {

	#logo-wrapper {
		position: absolute;
		top: 15px;
    	left: -152px;
    	transition: left .5s ease;
	}

	.search-bar {
		position: absolute;
		top: 16px;
		right: 10px;
		z-index: 999;
		visibility: visible;
		transition: opacity .5s ease, visibility 0s 0s;
	}

	.nav {
		align-items: stretch;
		background-color: white;
		display: flex;
		flex-direction: column;
		height: 100vh;
		left: -365px;
		overflow: auto;
		position: absolute;
		top: 60px;
		transition: left .5s ease;
	    width: 200px;

	    &__item {
	    	display: flex;
	    }

	    &__link {
	    	color: black;
	    	font-variant: small-caps;
	    	font-weight: bold;
	    	flex-grow: 1;
	    	padding: 10px;
	    	text-align: right;
	    	text-transform: lowercase;
	    }    	
	}

	#hamburguer {
		position: fixed;
		z-index: 9999999999;
	    width: 40px;
	    height: 40px;
	    top: 10px;
	    left: 10px;
	    cursor: pointer;
	    transition: left .5s ease;

	    span {
	    	height: 4px;
			width: 100%;
			background-color: white;
			position: absolute;
			transform: rotate(0deg);
			opacity: 1;
			@include transition(transform .5s ease, opacity .3s ease, top .3s .5s ease);

			&:nth-child(1) {
				top: 6px;
			}
			&:nth-child(2), &:nth-child(3) {
				top: 18px;
			}
			&:nth-child(4) {
				top: 30px;
			}
	    }
	}

	#mobile-menu-btn {
		&:checked {
			& + label#hamburguer {
				left: 90%;
				left: calc(100% - 60px);
				span:nth-child(1), span:nth-child(4) {
					top: 18px;
					opacity: 0;
					@include transition(transform .5s ease, opacity .3s ease, top .3s 0s ease);
				}
				span:nth-child(2) {
					transform: rotate(45deg);
					@include transition(transform .5s .5s ease);
				}
				span:nth-child(3) {
					transform: rotate(-45deg);
					@include transition(transform .5s .5s ease);
				}
			}

			& ~ header {
				#logo-wrapper {
					left: 20px;
				}

				.search-bar {
					opacity: 0;
					visibility: hidden;	
					@include transition(opacity .5s ease, visibility 0s .3s);	
				}

				.nav {
					left: 0px;
				}
			}

			& ~ main {
				overflow-x: hidden;
				left: 200px;
			}

			& ~ .mask {
				z-index: 9;
				opacity: 0.7;
				left: 200px;
				@include transition(left .5s ease, opacity .5s ease);
			}


		}
	}

	.mobile-menu {
		display: none;
		position: relative;
	}

	.tabs {
        height: auto;
        &__list {
		display: block;
		width: 100%;
        }
        
		&__item {
			display: block;
			padding: 0;
            
            &:last-child {
                & > label {
				border-bottom: 1px solid $mainColor;
				border-bottom: 1px solid rgba(50,50,50,0.5);
			     }
            }
        }
        
        &__label {
				text-align: center;
				padding-right: 0px;
				background-color: white;
				border-top: 1px solid $mainColor;
				border-top: 1px solid rgba(50,50,50,0.5);
				border-bottom: none;
				@include transition(background-color .1s ease, color .1s ease);
				&:hover {
					background-color: $mainColor;
					color: white;
					padding-right: 0px;
				}
        }

        &__content {
			position: relative;
			width: 100%;
			height: 0px;
			overflow: hidden;
			@include transition(opacity .4s ease, z-index 0s .4s, height .4s ease, padding .4s ease);
            
            .carousel {
			&__slide {
				width: 100%!important;
				left: 0!important;
				top: 0!important;
				height: 450px!important;
				img {
					width: 80%;
					display: block;
				    margin: 0 auto;			    
				}
			}
		}
		}
        
        &__radio {
                &:checked {
                    & + .tabs__label {
                        padding-right: 0px;
                        border: none;
                        border-top: 1px solid $mainColor;
                        background-color: $mainColor;
                        color: white;
                    }
                    
                    & ~ .tabs__content {
                        height: 675px;
                    }
                }
            
            &:not(:checked) ~ .tabs__content {
                padding-top: 0px;
            }
				
			}

		.pilltabs, .undertabs {
			text-align: center;
			.content {
				left: 0px;
			}
		}
	}

	#skills {
		#skills-block-container {
			.skill-block {
				width: 450px;
			}
		}
	}

    #projects {
        .section__wrapper {
            padding-bottom: 0px;
        }
    }
}

@media screen and (max-width: 600px) {
    #contact-form {
        .input-group {
            display: block;
            width: 100%;
            input[type="text"] {
                width: 100%;
                border: none!important;
                border-radius: 0px!important;
                
                &#contact-name:focus + label[for="contact-name"] {
                    top: 50px;
                }
                
                &#contact-name:valid + label[for="contact-name"] {
                    top: 50px;
                }
            }
            
            label[for="contact-name"] {
                left: 10px;
                top: 65px;
            }
        }
    }
}

@media screen and (max-width: 600px) {

	.section-wrapper {
		& > p {
			padding: 0px 12px;
		}
	}

	#skills {

		#skills-container {
			padding: 0px;
		}

		#skills-block-container {
			display: block;
			.skill-block {
				padding: 0px;
				margin: 0 auto;
				width: 320px;
				.skill-graph {
					padding: 5px;
					.labels-left {
						p {
							font-size: .7em;
						}
					}
					.graph {
						.graph-bar {
							margin: 0 7px;
						}
					}
					.labels-bottom {
						padding-left: 40px;
						p {
							white-space: normal;
							font-size: .7em;
							margin-left: -2px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 430px) {
	.pilltabs {
		label:nth-last-of-type(1) {
			display: none!important;
		}

		label:nth-last-of-type(2) {
			display: none!important;
		}
	}

	.undertabs {
		label:nth-last-of-type(1) {
			display: none!important;
		}

		label:nth-last-of-type(2) {
			display: none!important;
		}
	}

	.graph {
		.graph-bar {
			.tooltip {
				display: none!important;
			}
		}
	}
}

@media screen and (max-width: 359px) {
	body {
		overflow-x: scroll;
	}
}