#contact {
	#codewars {
		position: absolute;
    right: 15px;
		top: 25px;
		
		img {
			height: 27px;
		}
	}

	#contact-wrapper {
		position: relative;
		height: 290px;
		margin-top: 70px;

		label {
			display: inline-block;
			@include perspective(1000px);
			@include transform-style(preserve-3d);
			font-family: 'Lato', sans-serif;
			margin-left: calc(50% - 200px);

			&:hover {
				.card {
					@include rotateX(10deg);
					box-shadow: 0 10px 15px rgba(50,50,50,.2);
				}

				#card-toggle:checked + .card {
					@include rotateX(170deg);
					box-shadow: 0 10px 15px rgba(50,50,50,.2);
				}
			}
		}

		input#card-toggle {
			display: none;

			&:checked + .card {
				@include rotateX(180deg);
			}
		}

		.card {
			position: relative;
			width: 400px;
    	height: 250px;
			@include transform-style(preserve-3d);
			@include transition(all 600ms);
			box-shadow: 0px 0px 7px rgba(0,0,0,0.5);

			.front, .back {
				position: absolute;
				width: 100%;
				height: 100%;
				backface-visibility: hidden;
				border-radius: 3px;
				padding: 20px;
			}

			.front {
				background-image: url('../assets/bg2.png');

				h1 {
					color: $gray;
					font-weight: 300;
					margin: 0px;
				}

				p {
					margin: 0px;
					color: $gray;
				}
			}

			.back {
				@include rotateX(180deg);
				background-image: url('../assets/myimg2.jpg');
				background-size: cover;
			}
		}

		p {
			small {
				font-size: 12px;
				font-weight: 400;
				color: rgba(255,255,255,0.8);
			}

			&#info {
				margin-top: 20px;
				font-weight: 300;
			}

			&#email {
				display: inline-block;
				color: $purple;
				font-size: 12px;
				position: absolute;
				bottom: 30px;
				right: 25px;
				margin: 0px;
			}
		}

		#enc-info {
			margin-top: 30px;
			display: inline-block;
			p {
				display: inline-block;
				font-size: 14px;
				color: rgba(255,255,255,.7);
				position: relative;
				top:  -10px;
				left: 10px;
				span {
					color: white;
				}
				a {
					color: $purple;
				}
			}
			img {
				display: inline-block;
			}
		}

		#social-media {
			display: inline-block;
			margin: 0px;
			position: absolute;
			bottom: 20px;
			left: 15px;

			a {
				color: $purple;
				font-size: 37px;
				padding: 5px;
				transition: all .2s ease;

				i {
					color: inherit;
					font-size: inherit;
				}
			}

			span {
				display: inline-block;
				margin: 0px 5px;

				&:hover {
					a {
						color: lighten($purple, 15%);
					}
				}
			}
		}
	}
}

@media screen and (max-width: 960px) {
	#contact {
		#contact-wrapper {
			label {
				left: 0;
				position: static;
				display: block;
				margin: 0 auto;
				width: 470px;
			}

			.card {
				margin: 0 auto;
			}
		}
	}
}

@media screen and (max-width: 560px) {
	#contact {
		#contact-wrapper {
			label {
				width: 280px;
			}
			.card {
				width: 280px;

				.back {
					background-position: 50%;
				}
			}

			#enc-info {
				display: none;
			}

			#social-media {
				margin: 0;
				text-align: center;
				display: flex;
				justify-content: space-around;
				margin-top: 85px;
			}
		}
	}
}